<h1>Check this kitty out!</h1>

<ul>
    <li>Name: <%= @kitten.name %></li>
    <li>Cuteness: <%= @kitten.cuteness %> out of 10</li>      
    <li>Softness: <%= @kitten.softness %> out of 10</li> 
    <li>Age: is just a number aka this is restricted information</li>
</ul>

<%= link_to "Edit", edit_kitten_path(@kitten) %>
<%= link_to "Delete", @kitten, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this kitten?" } %>